@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #3b82f6;
    --secondary-color: #1e40af;
    --background-color: #0f172a;
    --text-color: #e2e8f0;
    --accent-color: #60a5fa;
}

*{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
.add-jot-card{
    padding: 15px;
    background-color: rgb(30, 41, 59, 0.8);
    border-radius: 10px;
}

body {
    background: linear-gradient(160deg, var(--background-color) 50%, #1c2331 100%) fixed;
    padding: 0px;
}

.add-jot-section {
    border-radius: 15px;
    background-color: rgb(30, 41, 59, 0.8);
    color: var(--text-color);
}

textarea {
    resize: none;
    background-color: #f5f7f9;
}

#notesList li {
    transition: transform 0.3s;
    background: rgb(30, 41, 59, 0.8);
    border: 1px solid var( --background-color);
}

#notesList li h5{
   font-weight: 700;
}

#notesList li p {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.note-options {
    visibility: hidden;
}

#notesList li:hover {
    transform: scale(1.02);
    cursor: pointer;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 10px var(--accent-color);
}

#notesList li:hover  .note-options {
    visibility: visible;
}

img {
    opacity: 0.7;
}

.jot-item-card {
    border-radius: 5px;
    background: rgb(30, 41, 59, 0.8);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}

/* Start of Loading */
.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  .loader::after {
    content: '';  
    width: 96px;
    height: 4.8px;
    background: #3686fe;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: hitZak 0.6s ease-in-out infinite alternate;
  }
  
  @keyframes hitZak {
    0% {
      left: 0;
      transform: translateX(-1%);
    }
    100% {
      left: 100%;
      transform: translateX(-99%);
    }
  }

  /* Start of Dialog */
  .dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.dialog-content {
    background-color: var(--background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px; /* Padding */
    border: 1px solid #888; /* Gray border */
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width of the dialog */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    animation: fadeIn 0.3s; /* Fade-in effect */
    color: var(--text-color);
}

.close {
    border-radius: 25%;
    float: right; /* Float the close button to the right */
}

.close:hover, .close:focus {
    border-radius: 25%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.form-group {
    margin-bottom: 15px; /* Space between form fields */
}

.form-group label {
    display: block; /* Full width */
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; /* Bold text */
}

.form-control {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form-control:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}

.btn {
    background-color: #007bff; /* Primary button color */
    color: white; /* Text color */
    padding: 10px 15px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
}

#btn-close-dialog{
    width: 25px; 
    height: 25px;
}

#btn-img-item-card{
    width: 20px; 
    height: 20px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10%;
}

#btn-img-item-card:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border: solid 1px whitesmoke; /* Darker border on hover */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/**/
#jot_title {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%; /* Increase the size for animation */
    animation: gradient 15s ease infinite;
    -webkit-background-clip: text; /* For text to be filled with the gradient */
    background-clip: text; /* For compatibility */
    -webkit-text-fill-color: transparent; /* Make the text fill color transparent */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
